<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lego Village</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>

</head>

<body>
    <script src="js/lib/three.js"></script>
    <script src="js/lib/Detector.js"></script>
    <script src="js/lib/stats.js"></script>
    <script src="js/lib/OrbitControls.js"></script>
    <script type="text/lib/javascript" src="js/astar.js"></script>
    
    <div id='Threejs'>

    </div>
    <div id="instructions">
        <h1 class="society6">Lego Village</h1><br />
        <span class="lightInstructions">- 12838064 Hexuan Weng-</span><br />
        <span class="lightInstructions">- 13025085 Yuchen Liu-</span><br />
        <span class="lightInstructions">- 13118157 Wei Wang -</span><br />
        <span class="lightInstructions">- 99183384 Fei Wang -</span><br />
        <span class="lightInstructions">- 11945045 Xuxi chen -</span>
    </div>
    <div id="credits">
        <p class="society6">Visit Page: <a href="./maze">Lego Village Find the Path</a> | <a
                href="/">Lego Village Panorama</a></p>
    </div>
    <script type="module" src="./assets/colors.js"></script>
    <script type="module" src="./js/index.js"></script>
</body>

</html>