<!DOCTYPE html>
<html lang="en">
<head>
	<title>Lego Village</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link rel='stylesheet' type='text/css' media='screen' href='./main.css'>

</head>

<body>
	<script src="js/lib/three.js"></script>
	<script src="js/lib/Detector.js"></script>
	<script src="js/lib/stats.js"></script>
	<script src="js/lib/OrbitControls.js"></script>
	<script src="js/lib/dat.gui.min.js"></script>
	<script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
	<script type="text/javascript" src="js/lib/astar.js" ></script>
	
	<div id='Threejs'></div>
	<div id="credits">
		<p class="society6">Visit Page: <a href="./maze.html">Lego Village Find the Path</a> | <a href="./index.html">Lego
				Village Panorama</a></p>
	</div>

	<script src="js/maze.js"></script>
</body>
</html>